[Desktop Entry]
Name=Conky
TryExec=conky
Exec=conky -c "/home/linsj/.conky/conkyrc_grey"
Terminal=false
Type=Application
StartupNotify=false
OnlyShowIn=awesome
